<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<listener>
		<listener-class>com.moandjiezana.essayist.config.EssayistMerfServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.moandjiezana.tent.essayist.config.EssayistServletContextListener</listener-class>
	</listener>

	<filter-mapping>
		<filter-name>MerfFilter</filter-name>
		<url-pattern>/merf/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>